<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome" />
<parameter name="siteURL" value="https://pulsev2.honohr.com/login"/>
<parameter name="emailAddress" value="developers@hono.ai" />
<parameter name="password" value="1234" />
  <test name="Honohr pulse Create Survey sanity test">
  		<classes>
	    	<!-- <class name="com.honohr.pulse.createsurvey.test.HonohrPulseCreateSurveyTest"/> -->
	    	
	    	<!-- <class name="com.honohr.pulse.configuration.test.HonohrPulseCreateSurveyDefineEngagementParameterTest"/> -->
	    	
	    	<!-- <class name="com.honohr.pulse.createsurvey.test.HonohrCreatesurveyGeneralTest"/> -->
	    	
	    	<!-- <class name="com.honohr.pulse.createsurvey.test.HonohrCreateSurveyAddQuestionsTest"/> -->
	    	
	    	<class name="com.honohr.pulse.createsurvey.test.HonohrCreateSurveyPreviewTest"/>

		</classes>
  </test>
</suite>